enum layer_names {
  LAYER_BASE,
  LAYER_NAV,
  LAYER_MOUSE,
  LAYER_NUM,
  LAYER_SYM,
  LAYER_GAME
};

#include QMK_KEYBOARD_H
#include "keymap.h"

const uint16_t PROGMEM keymaps[][MATRIX_ROWS][MATRIX_COLS] = {
  [LAYER_BASE] = LAYOUT_split_3x5_3(
    {{#base00}}{{> qmk_key }}{{/base00}},
    {{#base01}}{{> qmk_key }}{{/base01}},
    {{#base02}}{{> qmk_key }}{{/base02}},
    {{#base03}}{{> qmk_key }}{{/base03}},
    {{#base04}}{{> qmk_key }}{{/base04}},
    {{#base05}}{{> qmk_key }}{{/base05}},
    {{#base06}}{{> qmk_key }}{{/base06}},
    {{#base07}}{{> qmk_key }}{{/base07}},
    {{#base08}}{{> qmk_key }}{{/base08}},
    {{#base09}}{{> qmk_key }}{{/base09}},

    {{#base10}}{{> qmk_key }}{{/base10}},
    {{#base11}}{{> qmk_key }}{{/base11}},
    {{#base12}}{{> qmk_key }}{{/base12}},
    {{#base13}}{{> qmk_key }}{{/base13}},
    {{#base14}}{{> qmk_key }}{{/base14}},
    {{#base15}}{{> qmk_key }}{{/base15}},
    {{#base16}}{{> qmk_key }}{{/base16}},
    {{#base17}}{{> qmk_key }}{{/base17}},
    {{#base18}}{{> qmk_key }}{{/base18}},
    {{#base19}}{{> qmk_key }}{{/base19}},

    {{#base20}}{{> qmk_key }}{{/base20}},
    {{#base21}}{{> qmk_key }}{{/base21}},
    {{#base22}}{{> qmk_key }}{{/base22}},
    {{#base23}}{{> qmk_key }}{{/base23}},
    {{#base24}}{{> qmk_key }}{{/base24}},
    {{#base25}}{{> qmk_key }}{{/base25}},
    {{#base26}}{{> qmk_key }}{{/base26}},
    {{#base27}}{{> qmk_key }}{{/base27}},
    {{#base28}}{{> qmk_key }}{{/base28}},
    {{#base29}}{{> qmk_key }}{{/base29}},

    {{#baset0}}{{> qmk_key }}{{/baset0}},
    {{#baset1}}{{> qmk_key }}{{/baset1}},
    {{#baset2}}{{> qmk_key }}{{/baset2}},
    {{#baset3}}{{> qmk_key }}{{/baset3}},
    {{#baset4}}{{> qmk_key }}{{/baset4}},
    {{#baset5}}{{> qmk_key }}{{/baset5}}
  ),

  [LAYER_NAV] = LAYOUT_split_3x5_3(
    {{#nav00}}{{> qmk_key }}{{/nav00}}{{^nav00}}XXXXXXX{{/nav00}},
    {{#nav01}}{{> qmk_key }}{{/nav01}}{{^nav01}}XXXXXXX{{/nav01}},
    {{#nav02}}{{> qmk_key }}{{/nav02}}{{^nav02}}XXXXXXX{{/nav02}},
    {{#nav03}}{{> qmk_key }}{{/nav03}}{{^nav03}}XXXXXXX{{/nav03}},
    {{#nav04}}{{> qmk_key }}{{/nav04}}{{^nav04}}XXXXXXX{{/nav04}},
    {{#nav05}}{{> qmk_key }}{{/nav05}}{{^nav05}}XXXXXXX{{/nav05}},
    {{#nav06}}{{> qmk_key }}{{/nav06}}{{^nav06}}XXXXXXX{{/nav06}},
    {{#nav07}}{{> qmk_key }}{{/nav07}}{{^nav07}}XXXXXXX{{/nav07}},
    {{#nav08}}{{> qmk_key }}{{/nav08}}{{^nav08}}XXXXXXX{{/nav08}},
    {{#nav09}}{{> qmk_key }}{{/nav09}}{{^nav09}}XXXXXXX{{/nav09}},

    {{#nav10}}{{> qmk_key }}{{/nav10}}{{^nav10}}XXXXXXX{{/nav10}},
    {{#nav11}}{{> qmk_key }}{{/nav11}}{{^nav11}}XXXXXXX{{/nav11}},
    {{#nav12}}{{> qmk_key }}{{/nav12}}{{^nav12}}XXXXXXX{{/nav12}},
    {{#nav13}}{{> qmk_key }}{{/nav13}}{{^nav13}}XXXXXXX{{/nav13}},
    {{#nav14}}{{> qmk_key }}{{/nav14}}{{^nav14}}XXXXXXX{{/nav14}},
    {{#nav15}}{{> qmk_key }}{{/nav15}}{{^nav15}}XXXXXXX{{/nav15}},
    {{#nav16}}{{> qmk_key }}{{/nav16}}{{^nav16}}XXXXXXX{{/nav16}},
    {{#nav17}}{{> qmk_key }}{{/nav17}}{{^nav17}}XXXXXXX{{/nav17}},
    {{#nav18}}{{> qmk_key }}{{/nav18}}{{^nav18}}XXXXXXX{{/nav18}},
    {{#nav19}}{{> qmk_key }}{{/nav19}}{{^nav19}}XXXXXXX{{/nav19}},

    {{#nav20}}{{> qmk_key }}{{/nav20}}{{^nav20}}XXXXXXX{{/nav20}},
    {{#nav21}}{{> qmk_key }}{{/nav21}}{{^nav21}}XXXXXXX{{/nav21}},
    {{#nav22}}{{> qmk_key }}{{/nav22}}{{^nav22}}XXXXXXX{{/nav22}},
    {{#nav23}}{{> qmk_key }}{{/nav23}}{{^nav23}}XXXXXXX{{/nav23}},
    {{#nav24}}{{> qmk_key }}{{/nav24}}{{^nav24}}XXXXXXX{{/nav24}},
    {{#nav25}}{{> qmk_key }}{{/nav25}}{{^nav25}}XXXXXXX{{/nav25}},
    {{#nav26}}{{> qmk_key }}{{/nav26}}{{^nav26}}XXXXXXX{{/nav26}},
    {{#nav27}}{{> qmk_key }}{{/nav27}}{{^nav27}}XXXXXXX{{/nav27}},
    {{#nav28}}{{> qmk_key }}{{/nav28}}{{^nav28}}XXXXXXX{{/nav28}},
    {{#nav29}}{{> qmk_key }}{{/nav29}}{{^nav29}}XXXXXXX{{/nav29}},

    {{#navt0}}{{> qmk_key }}{{/navt0}}{{^navt0}}XXXXXXX{{/navt0}},
    {{#navt1}}{{> qmk_key }}{{/navt1}}{{^navt1}}XXXXXXX{{/navt1}},
    {{#navt2}}{{> qmk_key }}{{/navt2}}{{^navt2}}XXXXXXX{{/navt2}},
    {{#navt3}}{{> qmk_key }}{{/navt3}}{{^navt3}}XXXXXXX{{/navt3}},
    {{#navt4}}{{> qmk_key }}{{/navt4}}{{^navt4}}XXXXXXX{{/navt4}},
    {{#navt5}}{{> qmk_key }}{{/navt5}}{{^navt5}}XXXXXXX{{/navt5}}
  ),

  [LAYER_MOUSE] = LAYOUT_split_3x5_3(
    {{#mouse00}}{{> qmk_key }}{{/mouse00}}{{^mouse00}}XXXXXXX{{/mouse00}},
    {{#mouse01}}{{> qmk_key }}{{/mouse01}}{{^mouse01}}XXXXXXX{{/mouse01}},
    {{#mouse02}}{{> qmk_key }}{{/mouse02}}{{^mouse02}}XXXXXXX{{/mouse02}},
    {{#mouse03}}{{> qmk_key }}{{/mouse03}}{{^mouse03}}XXXXXXX{{/mouse03}},
    {{#mouse04}}{{> qmk_key }}{{/mouse04}}{{^mouse04}}XXXXXXX{{/mouse04}},
    {{#mouse05}}{{> qmk_key }}{{/mouse05}}{{^mouse05}}XXXXXXX{{/mouse05}},
    {{#mouse06}}{{> qmk_key }}{{/mouse06}}{{^mouse06}}XXXXXXX{{/mouse06}},
    {{#mouse07}}{{> qmk_key }}{{/mouse07}}{{^mouse07}}XXXXXXX{{/mouse07}},
    {{#mouse08}}{{> qmk_key }}{{/mouse08}}{{^mouse08}}XXXXXXX{{/mouse08}},
    {{#mouse09}}{{> qmk_key }}{{/mouse09}}{{^mouse09}}XXXXXXX{{/mouse09}},

    {{#mouse10}}{{> qmk_key }}{{/mouse10}}{{^mouse10}}XXXXXXX{{/mouse10}},
    {{#mouse11}}{{> qmk_key }}{{/mouse11}}{{^mouse11}}XXXXXXX{{/mouse11}},
    {{#mouse12}}{{> qmk_key }}{{/mouse12}}{{^mouse12}}XXXXXXX{{/mouse12}},
    {{#mouse13}}{{> qmk_key }}{{/mouse13}}{{^mouse13}}XXXXXXX{{/mouse13}},
    {{#mouse14}}{{> qmk_key }}{{/mouse14}}{{^mouse14}}XXXXXXX{{/mouse14}},
    {{#mouse15}}{{> qmk_key }}{{/mouse15}}{{^mouse15}}XXXXXXX{{/mouse15}},
    {{#mouse16}}{{> qmk_key }}{{/mouse16}}{{^mouse16}}XXXXXXX{{/mouse16}},
    {{#mouse17}}{{> qmk_key }}{{/mouse17}}{{^mouse17}}XXXXXXX{{/mouse17}},
    {{#mouse18}}{{> qmk_key }}{{/mouse18}}{{^mouse18}}XXXXXXX{{/mouse18}},
    {{#mouse19}}{{> qmk_key }}{{/mouse19}}{{^mouse19}}XXXXXXX{{/mouse19}},

    {{#mouse20}}{{> qmk_key }}{{/mouse20}}{{^mouse20}}XXXXXXX{{/mouse20}},
    {{#mouse21}}{{> qmk_key }}{{/mouse21}}{{^mouse21}}XXXXXXX{{/mouse21}},
    {{#mouse22}}{{> qmk_key }}{{/mouse22}}{{^mouse22}}XXXXXXX{{/mouse22}},
    {{#mouse23}}{{> qmk_key }}{{/mouse23}}{{^mouse23}}XXXXXXX{{/mouse23}},
    {{#mouse24}}{{> qmk_key }}{{/mouse24}}{{^mouse24}}XXXXXXX{{/mouse24}},
    {{#mouse25}}{{> qmk_key }}{{/mouse25}}{{^mouse25}}XXXXXXX{{/mouse25}},
    {{#mouse26}}{{> qmk_key }}{{/mouse26}}{{^mouse26}}XXXXXXX{{/mouse26}},
    {{#mouse27}}{{> qmk_key }}{{/mouse27}}{{^mouse27}}XXXXXXX{{/mouse27}},
    {{#mouse28}}{{> qmk_key }}{{/mouse28}}{{^mouse28}}XXXXXXX{{/mouse28}},
    {{#mouse29}}{{> qmk_key }}{{/mouse29}}{{^mouse29}}XXXXXXX{{/mouse29}},

    {{#mouset0}}{{> qmk_key }}{{/mouset0}}{{^mouset0}}XXXXXXX{{/mouset0}},
    {{#mouset1}}{{> qmk_key }}{{/mouset1}}{{^mouset1}}XXXXXXX{{/mouset1}},
    {{#mouset2}}{{> qmk_key }}{{/mouset2}}{{^mouset2}}XXXXXXX{{/mouset2}},
    {{#mouset3}}{{> qmk_key }}{{/mouset3}}{{^mouset3}}XXXXXXX{{/mouset3}},
    {{#mouset4}}{{> qmk_key }}{{/mouset4}}{{^mouset4}}XXXXXXX{{/mouset4}},
    {{#mouset5}}{{> qmk_key }}{{/mouset5}}{{^mouset5}}XXXXXXX{{/mouset5}}
  ),

  [LAYER_NUM] = LAYOUT_split_3x5_3(
    {{#num00}}{{> qmk_key }}{{/num00}}{{^num00}}XXXXXXX{{/num00}},
    {{#num01}}{{> qmk_key }}{{/num01}}{{^num01}}XXXXXXX{{/num01}},
    {{#num02}}{{> qmk_key }}{{/num02}}{{^num02}}XXXXXXX{{/num02}},
    {{#num03}}{{> qmk_key }}{{/num03}}{{^num03}}XXXXXXX{{/num03}},
    {{#num04}}{{> qmk_key }}{{/num04}}{{^num04}}XXXXXXX{{/num04}},
    {{#num05}}{{> qmk_key }}{{/num05}}{{^num05}}XXXXXXX{{/num05}},
    {{#num06}}{{> qmk_key }}{{/num06}}{{^num06}}XXXXXXX{{/num06}},
    {{#num07}}{{> qmk_key }}{{/num07}}{{^num07}}XXXXXXX{{/num07}},
    {{#num08}}{{> qmk_key }}{{/num08}}{{^num08}}XXXXXXX{{/num08}},
    {{#num09}}{{> qmk_key }}{{/num09}}{{^num09}}XXXXXXX{{/num09}},

    {{#num10}}{{> qmk_key }}{{/num10}}{{^num10}}XXXXXXX{{/num10}},
    {{#num11}}{{> qmk_key }}{{/num11}}{{^num11}}XXXXXXX{{/num11}},
    {{#num12}}{{> qmk_key }}{{/num12}}{{^num12}}XXXXXXX{{/num12}},
    {{#num13}}{{> qmk_key }}{{/num13}}{{^num13}}XXXXXXX{{/num13}},
    {{#num14}}{{> qmk_key }}{{/num14}}{{^num14}}XXXXXXX{{/num14}},
    {{#num15}}{{> qmk_key }}{{/num15}}{{^num15}}XXXXXXX{{/num15}},
    {{#num16}}{{> qmk_key }}{{/num16}}{{^num16}}XXXXXXX{{/num16}},
    {{#num17}}{{> qmk_key }}{{/num17}}{{^num17}}XXXXXXX{{/num17}},
    {{#num18}}{{> qmk_key }}{{/num18}}{{^num18}}XXXXXXX{{/num18}},
    {{#num19}}{{> qmk_key }}{{/num19}}{{^num19}}XXXXXXX{{/num19}},

    {{#num20}}{{> qmk_key }}{{/num20}}{{^num20}}XXXXXXX{{/num20}},
    {{#num21}}{{> qmk_key }}{{/num21}}{{^num21}}XXXXXXX{{/num21}},
    {{#num22}}{{> qmk_key }}{{/num22}}{{^num22}}XXXXXXX{{/num22}},
    {{#num23}}{{> qmk_key }}{{/num23}}{{^num23}}XXXXXXX{{/num23}},
    {{#num24}}{{> qmk_key }}{{/num24}}{{^num24}}XXXXXXX{{/num24}},
    {{#num25}}{{> qmk_key }}{{/num25}}{{^num25}}XXXXXXX{{/num25}},
    {{#num26}}{{> qmk_key }}{{/num26}}{{^num26}}XXXXXXX{{/num26}},
    {{#num27}}{{> qmk_key }}{{/num27}}{{^num27}}XXXXXXX{{/num27}},
    {{#num28}}{{> qmk_key }}{{/num28}}{{^num28}}XXXXXXX{{/num28}},
    {{#num29}}{{> qmk_key }}{{/num29}}{{^num29}}XXXXXXX{{/num29}},

    {{#numt0}}{{> qmk_key }}{{/numt0}}{{^numt0}}XXXXXXX{{/numt0}},
    {{#numt1}}{{> qmk_key }}{{/numt1}}{{^numt1}}XXXXXXX{{/numt1}},
    {{#numt2}}{{> qmk_key }}{{/numt2}}{{^numt2}}XXXXXXX{{/numt2}},
    {{#numt3}}{{> qmk_key }}{{/numt3}}{{^numt3}}XXXXXXX{{/numt3}},
    {{#numt4}}{{> qmk_key }}{{/numt4}}{{^numt4}}XXXXXXX{{/numt4}},
    {{#numt5}}{{> qmk_key }}{{/numt5}}{{^numt5}}XXXXXXX{{/numt5}}
  ),

  [LAYER_SYM] = LAYOUT_split_3x5_3(
    {{#num00}}LSFT({{> qmk_key }}){{/num00}}{{^num00}}XXXXXXX{{/num00}},
    {{#num01}}LSFT({{> qmk_key }}){{/num01}}{{^num01}}XXXXXXX{{/num01}},
    {{#num02}}LSFT({{> qmk_key }}){{/num02}}{{^num02}}XXXXXXX{{/num02}},
    {{#num03}}LSFT({{> qmk_key }}){{/num03}}{{^num03}}XXXXXXX{{/num03}},
    {{#num04}}LSFT({{> qmk_key }}){{/num04}}{{^num04}}XXXXXXX{{/num04}},
    {{#num05}}LSFT({{> qmk_key }}){{/num05}}{{^num05}}XXXXXXX{{/num05}},
    {{#num06}}LSFT({{> qmk_key }}){{/num06}}{{^num06}}XXXXXXX{{/num06}},
    {{#num07}}LSFT({{> qmk_key }}){{/num07}}{{^num07}}XXXXXXX{{/num07}},
    {{#num08}}LSFT({{> qmk_key }}){{/num08}}{{^num08}}XXXXXXX{{/num08}},
    {{#num09}}LSFT({{> qmk_key }}){{/num09}}{{^num09}}XXXXXXX{{/num09}},

    {{#num10}}LSFT({{> qmk_key }}){{/num10}}{{^num10}}XXXXXXX{{/num10}},
    {{#num11}}LSFT({{> qmk_key }}){{/num11}}{{^num11}}XXXXXXX{{/num11}},
    {{#num12}}LSFT({{> qmk_key }}){{/num12}}{{^num12}}XXXXXXX{{/num12}},
    {{#num13}}LSFT({{> qmk_key }}){{/num13}}{{^num13}}XXXXXXX{{/num13}},
    {{#num14}}LSFT({{> qmk_key }}){{/num14}}{{^num14}}XXXXXXX{{/num14}},
    {{#num15}}LSFT({{> qmk_key }}){{/num15}}{{^num15}}XXXXXXX{{/num15}},
    {{#num16}}LSFT({{> qmk_key }}){{/num16}}{{^num16}}XXXXXXX{{/num16}},
    {{#num17}}LSFT({{> qmk_key }}){{/num17}}{{^num17}}XXXXXXX{{/num17}},
    {{#num18}}LSFT({{> qmk_key }}){{/num18}}{{^num18}}XXXXXXX{{/num18}},
    {{#num19}}LSFT({{> qmk_key }}){{/num19}}{{^num19}}XXXXXXX{{/num19}},

    {{#num20}}LSFT({{> qmk_key }}){{/num20}}{{^num20}}XXXXXXX{{/num20}},
    {{#num21}}LSFT({{> qmk_key }}){{/num21}}{{^num21}}XXXXXXX{{/num21}},
    {{#num22}}LSFT({{> qmk_key }}){{/num22}}{{^num22}}XXXXXXX{{/num22}},
    {{#num23}}LSFT({{> qmk_key }}){{/num23}}{{^num23}}XXXXXXX{{/num23}},
    {{#num24}}LSFT({{> qmk_key }}){{/num24}}{{^num24}}XXXXXXX{{/num24}},
    {{#num25}}LSFT({{> qmk_key }}){{/num25}}{{^num25}}XXXXXXX{{/num25}},
    {{#num26}}LSFT({{> qmk_key }}){{/num26}}{{^num26}}XXXXXXX{{/num26}},
    {{#num27}}LSFT({{> qmk_key }}){{/num27}}{{^num27}}XXXXXXX{{/num27}},
    {{#num28}}LSFT({{> qmk_key }}){{/num28}}{{^num28}}XXXXXXX{{/num28}},
    {{#num29}}LSFT({{> qmk_key }}){{/num29}}{{^num29}}XXXXXXX{{/num29}},

    {{#symt0}}LSFT({{> qmk_key }}){{/symt0}}{{^symt0}}XXXXXXX{{/symt0}},
    {{#symt1}}LSFT({{> qmk_key }}){{/symt1}}{{^symt1}}XXXXXXX{{/symt1}},
    {{#symt2}}LSFT({{> qmk_key }}){{/symt2}}{{^symt2}}XXXXXXX{{/symt2}},
    {{#symt3}}LSFT({{> qmk_key }}){{/symt3}}{{^symt3}}XXXXXXX{{/symt3}},
    {{#symt4}}LSFT({{> qmk_key }}){{/symt4}}{{^symt4}}XXXXXXX{{/symt4}},
    {{#symt5}}LSFT({{> qmk_key }}){{/symt5}}{{^symt5}}XXXXXXX{{/symt5}}
  ),

  [LAYER_GAME] = LAYOUT_split_3x5_3(
    {{#game00}}{{> qmk_key }}{{/game00}}{{^game00}}XXXXXXX{{/game00}},
    {{#game01}}{{> qmk_key }}{{/game01}}{{^game01}}XXXXXXX{{/game01}},
    {{#game02}}{{> qmk_key }}{{/game02}}{{^game02}}XXXXXXX{{/game02}},
    {{#game03}}{{> qmk_key }}{{/game03}}{{^game03}}XXXXXXX{{/game03}},
    {{#game04}}{{> qmk_key }}{{/game04}}{{^game04}}XXXXXXX{{/game04}},
    {{#game05}}{{> qmk_key }}{{/game05}}{{^game05}}XXXXXXX{{/game05}},
    {{#game06}}{{> qmk_key }}{{/game06}}{{^game06}}XXXXXXX{{/game06}},
    {{#game07}}{{> qmk_key }}{{/game07}}{{^game07}}XXXXXXX{{/game07}},
    {{#game08}}{{> qmk_key }}{{/game08}}{{^game08}}XXXXXXX{{/game08}},
    {{#game09}}{{> qmk_key }}{{/game09}}{{^game09}}XXXXXXX{{/game09}},

    {{#game10}}{{> qmk_key }}{{/game10}}{{^game10}}XXXXXXX{{/game10}},
    {{#game11}}{{> qmk_key }}{{/game11}}{{^game11}}XXXXXXX{{/game11}},
    {{#game12}}{{> qmk_key }}{{/game12}}{{^game12}}XXXXXXX{{/game12}},
    {{#game13}}{{> qmk_key }}{{/game13}}{{^game13}}XXXXXXX{{/game13}},
    {{#game14}}{{> qmk_key }}{{/game14}}{{^game14}}XXXXXXX{{/game14}},
    {{#game15}}{{> qmk_key }}{{/game15}}{{^game15}}XXXXXXX{{/game15}},
    {{#game16}}{{> qmk_key }}{{/game16}}{{^game16}}XXXXXXX{{/game16}},
    {{#game17}}{{> qmk_key }}{{/game17}}{{^game17}}XXXXXXX{{/game17}},
    {{#game18}}{{> qmk_key }}{{/game18}}{{^game18}}XXXXXXX{{/game18}},
    {{#game19}}{{> qmk_key }}{{/game19}}{{^game19}}XXXXXXX{{/game19}},

    {{#game20}}{{> qmk_key }}{{/game20}}{{^game20}}XXXXXXX{{/game20}},
    {{#game21}}{{> qmk_key }}{{/game21}}{{^game21}}XXXXXXX{{/game21}},
    {{#game22}}{{> qmk_key }}{{/game22}}{{^game22}}XXXXXXX{{/game22}},
    {{#game23}}{{> qmk_key }}{{/game23}}{{^game23}}XXXXXXX{{/game23}},
    {{#game24}}{{> qmk_key }}{{/game24}}{{^game24}}XXXXXXX{{/game24}},
    {{#game25}}{{> qmk_key }}{{/game25}}{{^game25}}XXXXXXX{{/game25}},
    {{#game26}}{{> qmk_key }}{{/game26}}{{^game26}}XXXXXXX{{/game26}},
    {{#game27}}{{> qmk_key }}{{/game27}}{{^game27}}XXXXXXX{{/game27}},
    {{#game28}}{{> qmk_key }}{{/game28}}{{^game28}}XXXXXXX{{/game28}},
    {{#game29}}{{> qmk_key }}{{/game29}}{{^game29}}XXXXXXX{{/game29}},

    {{#gamet0}}{{> qmk_key }}{{/gamet0}}{{^gamet0}}XXXXXXX{{/gamet0}},
    {{#gamet1}}{{> qmk_key }}{{/gamet1}}{{^gamet1}}XXXXXXX{{/gamet1}},
    {{#gamet2}}{{> qmk_key }}{{/gamet2}}{{^gamet2}}XXXXXXX{{/gamet2}},
    {{#gamet3}}{{> qmk_key }}{{/gamet3}}{{^gamet3}}XXXXXXX{{/gamet3}},
    {{#gamet4}}{{> qmk_key }}{{/gamet4}}{{^gamet4}}XXXXXXX{{/gamet4}},
    {{#gamet5}}{{> qmk_key }}{{/gamet5}}{{^gamet5}}XXXXXXX{{/gamet5}}
  )
};
