#include "Kaleidoscope.h"
#include "kaleidoscope/layers.h"
#include "Kaleidoscope-Macros.h"
#include "Kaleidoscope-MouseKeys.h"
#include "Kaleidoscope-OneShot.h"
#include "Kaleidoscope-Qukeys.h"

enum {
  MACRO_LOCK_GAME,
};

enum {
  BASE,
  NAV,
  MOUSE,
  NUM,
  SYM,
  GAME
};

KEYMAPS(
  [BASE] = KEYMAP(
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,

    XXX,
    {{#base00}}{{> model100_key }}{{/base00}},
    {{#base01}}{{> model100_key }}{{/base01}},
    {{#base02}}{{> model100_key }}{{/base02}},
    {{#base03}}{{> model100_key }}{{/base03}},
    {{#base04}}{{> model100_key }}{{/base04}},
    XXX, XXX,
    {{#base05}}{{> model100_key }}{{/base05}},
    {{#base06}}{{> model100_key }}{{/base06}},
    {{#base07}}{{> model100_key }}{{/base07}},
    {{#base08}}{{> model100_key }}{{/base08}},
    {{#base09}}{{> model100_key }}{{/base09}},
    XXX,

    XXX,
    {{#base10}}{{> model100_key }}{{/base10}},
    {{#base11}}{{> model100_key }}{{/base11}},
    {{#base12}}{{> model100_key }}{{/base12}},
    {{#base13}}{{> model100_key }}{{/base13}},
    {{#base14}}{{> model100_key }}{{/base14}},
    {{#base15}}{{> model100_key }}{{/base15}},
    {{#base16}}{{> model100_key }}{{/base16}},
    {{#base17}}{{> model100_key }}{{/base17}},
    {{#base18}}{{> model100_key }}{{/base18}},
    {{#base19}}{{> model100_key }}{{/base19}},
    XXX,

    XXX,
    {{#base20}}{{> model100_key }}{{/base20}},
    {{#base21}}{{> model100_key }}{{/base21}},
    {{#base22}}{{> model100_key }}{{/base22}},
    {{#base23}}{{> model100_key }}{{/base23}},
    {{#base24}}{{> model100_key }}{{/base24}},
    XXX, XXX,
    {{#base25}}{{> model100_key }}{{/base25}},
    {{#base26}}{{> model100_key }}{{/base26}},
    {{#base27}}{{> model100_key }}{{/base27}},
    {{#base28}}{{> model100_key }}{{/base28}},
    {{#base29}}{{> model100_key }}{{/base29}},
    XXX,

    {{#baset0}}{{> model100_key }}{{/baset0}},
    {{#baset1}}{{> model100_key }}{{/baset1}},
    {{#baset2}}{{> model100_key }}{{/baset2}},
    M(MACRO_LOCK_GAME),
    XXX,
    {{#baset3}}{{> model100_key }}{{/baset3}},
    {{#baset4}}{{> model100_key }}{{/baset4}},
    {{#baset5}}{{> model100_key }}{{/baset5}},

    XXX, XXX // palm
  ),

  [NAV] = KEYMAP(
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,

    XXX,
    {{#nav00}}{{> model100_key }}{{/nav00}}{{^nav00}}XXX{{/nav00}},
    {{#nav01}}{{> model100_key }}{{/nav01}}{{^nav01}}XXX{{/nav01}},
    {{#nav02}}{{> model100_key }}{{/nav02}}{{^nav02}}XXX{{/nav02}},
    {{#nav03}}{{> model100_key }}{{/nav03}}{{^nav03}}XXX{{/nav03}},
    {{#nav04}}{{> model100_key }}{{/nav04}}{{^nav04}}XXX{{/nav04}},
    XXX, XXX,
    {{#nav05}}{{> model100_key }}{{/nav05}}{{^nav05}}XXX{{/nav05}},
    {{#nav06}}{{> model100_key }}{{/nav06}}{{^nav06}}XXX{{/nav06}},
    {{#nav07}}{{> model100_key }}{{/nav07}}{{^nav07}}XXX{{/nav07}},
    {{#nav08}}{{> model100_key }}{{/nav08}}{{^nav08}}XXX{{/nav08}},
    {{#nav09}}{{> model100_key }}{{/nav09}}{{^nav09}}XXX{{/nav09}},
    XXX,

    XXX,
    {{#nav10}}{{> model100_key }}{{/nav10}}{{^nav10}}XXX{{/nav10}},
    {{#nav11}}{{> model100_key }}{{/nav11}}{{^nav11}}XXX{{/nav11}},
    {{#nav12}}{{> model100_key }}{{/nav12}}{{^nav12}}XXX{{/nav12}},
    {{#nav13}}{{> model100_key }}{{/nav13}}{{^nav13}}XXX{{/nav13}},
    {{#nav14}}{{> model100_key }}{{/nav14}}{{^nav14}}XXX{{/nav14}},
    {{#nav15}}{{> model100_key }}{{/nav15}}{{^nav15}}XXX{{/nav15}},
    {{#nav16}}{{> model100_key }}{{/nav16}}{{^nav16}}XXX{{/nav16}},
    {{#nav17}}{{> model100_key }}{{/nav17}}{{^nav17}}XXX{{/nav17}},
    {{#nav18}}{{> model100_key }}{{/nav18}}{{^nav18}}XXX{{/nav18}},
    {{#nav19}}{{> model100_key }}{{/nav19}}{{^nav19}}XXX{{/nav19}},
    XXX,

    XXX,
    {{#nav20}}{{> model100_key }}{{/nav20}}{{^nav20}}XXX{{/nav20}},
    {{#nav21}}{{> model100_key }}{{/nav21}}{{^nav21}}XXX{{/nav21}},
    {{#nav22}}{{> model100_key }}{{/nav22}}{{^nav22}}XXX{{/nav22}},
    {{#nav23}}{{> model100_key }}{{/nav23}}{{^nav23}}XXX{{/nav23}},
    {{#nav24}}{{> model100_key }}{{/nav24}}{{^nav24}}XXX{{/nav24}},
    XXX, XXX,
    {{#nav25}}{{> model100_key }}{{/nav25}}{{^nav25}}XXX{{/nav25}},
    {{#nav26}}{{> model100_key }}{{/nav26}}{{^nav26}}XXX{{/nav26}},
    {{#nav27}}{{> model100_key }}{{/nav27}}{{^nav27}}XXX{{/nav27}},
    {{#nav28}}{{> model100_key }}{{/nav28}}{{^nav28}}XXX{{/nav28}},
    {{#nav29}}{{> model100_key }}{{/nav29}}{{^nav29}}XXX{{/nav29}},
    XXX,

    {{#navt0}}{{> model100_key }}{{/navt0}}{{^navt0}}XXX{{/navt0}},
    {{#navt1}}{{> model100_key }}{{/navt1}}{{^navt1}}XXX{{/navt1}},
    {{#navt2}}{{> model100_key }}{{/navt2}}{{^navt2}}XXX{{/navt2}},
    XXX, XXX,
    {{#navt3}}{{> model100_key }}{{/navt3}}{{^navt3}}XXX{{/navt3}},
    {{#navt4}}{{> model100_key }}{{/navt4}}{{^navt4}}XXX{{/navt4}},
    {{#navt5}}{{> model100_key }}{{/navt5}}{{^navt5}}XXX{{/navt5}},

    XXX, XXX // palm
  ),

  [MOUSE] = KEYMAP(
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,

    XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX, XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX,

    XXX,
    {{#mouse10}}{{> model100_key }}{{/mouse10}}{{^mouse10}}XXX{{/mouse10}},
    {{#mouse11}}{{> model100_key }}{{/mouse11}}{{^mouse11}}XXX{{/mouse11}},
    {{#mouse12}}{{> model100_key }}{{/mouse12}}{{^mouse12}}XXX{{/mouse12}},
    {{#mouse13}}{{> model100_key }}{{/mouse13}}{{^mouse13}}XXX{{/mouse13}},
    {{#mouse14}}{{> model100_key }}{{/mouse14}}{{^mouse14}}XXX{{/mouse14}},
    {{#mouse15}}{{> model100_key }}{{/mouse15}}{{^mouse15}}XXX{{/mouse15}},
    {{#mouse16}}{{> model100_key }}{{/mouse16}}{{^mouse16}}XXX{{/mouse16}},
    {{#mouse17}}{{> model100_key }}{{/mouse17}}{{^mouse17}}XXX{{/mouse17}},
    {{#mouse18}}{{> model100_key }}{{/mouse18}}{{^mouse18}}XXX{{/mouse18}},
    {{#mouse19}}{{> model100_key }}{{/mouse19}}{{^mouse19}}XXX{{/mouse19}},
    XXX,

    XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX, XXX,
    {{#mouse25}}{{> model100_key }}{{/mouse25}}{{^mouse25}}XXX{{/mouse25}},
    {{#mouse26}}{{> model100_key }}{{/mouse26}}{{^mouse26}}XXX{{/mouse26}},
    {{#mouse27}}{{> model100_key }}{{/mouse27}}{{^mouse27}}XXX{{/mouse27}},
    {{#mouse28}}{{> model100_key }}{{/mouse28}}{{^mouse28}}XXX{{/mouse28}},
    {{#mouse29}}{{> model100_key }}{{/mouse29}}{{^mouse29}}XXX{{/mouse29}},
    XXX,

    {{#mouset0}}{{> model100_key }}{{/mouset0}}{{^mouset0}}XXX{{/mouset0}},
    {{#mouset1}}{{> model100_key }}{{/mouset1}}{{^mouset1}}XXX{{/mouset1}},
    {{#mouset2}}{{> model100_key }}{{/mouset2}}{{^mouset2}}XXX{{/mouset2}},
    XXX, XXX,
    {{#mouset3}}{{> model100_key }}{{/mouset3}}{{^mouset3}}XXX{{/mouset3}},
    {{#mouset4}}{{> model100_key }}{{/mouset4}}{{^mouset4}}XXX{{/mouset4}},
    {{#mouset5}}{{> model100_key }}{{/mouset5}}{{^mouset5}}XXX{{/mouset5}},

    XXX, XXX // palm
  ),

  [NUM] = KEYMAP(
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,

    XXX,
    {{#num00}}{{> model100_key }}{{/num00}},
    {{#num01}}{{> model100_key }}{{/num01}},
    {{#num02}}{{> model100_key }}{{/num02}},
    {{#num03}}{{> model100_key }}{{/num03}},
    {{#num04}}{{> model100_key }}{{/num04}},
    XXX, XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX,

    XXX,
    {{#num10}}{{> model100_key }}{{/num10}},
    {{#num11}}{{> model100_key }}{{/num11}},
    {{#num12}}{{> model100_key }}{{/num12}},
    {{#num13}}{{> model100_key }}{{/num13}},
    {{#num14}}{{> model100_key }}{{/num14}},
    {{#num15}}{{> model100_key }}{{/num15}}{{^num15}}XXX{{/num15}},
    {{#num16}}{{> model100_key }}{{/num16}}{{^num16}}XXX{{/num16}},
    {{#num17}}{{> model100_key }}{{/num17}}{{^num17}}XXX{{/num17}},
    {{#num18}}{{> model100_key }}{{/num18}}{{^num18}}XXX{{/num18}},
    {{#num19}}{{> model100_key }}{{/num19}}{{^num19}}XXX{{/num19}},
    XXX,

    XXX,
    {{#num20}}{{> model100_key }}{{/num20}},
    {{#num21}}{{> model100_key }}{{/num21}},
    {{#num22}}{{> model100_key }}{{/num22}},
    {{#num23}}{{> model100_key }}{{/num23}},
    {{#num24}}{{> model100_key }}{{/num24}},
    XXX, XXX,
    {{#num25}}{{> model100_key }}{{/num25}}{{^num25}}XXX{{/num25}},
    {{#num26}}{{> model100_key }}{{/num26}}{{^num26}}XXX{{/num26}},
    {{#num27}}{{> model100_key }}{{/num27}}{{^num27}}XXX{{/num27}},
    {{#num28}}{{> model100_key }}{{/num28}}{{^num28}}XXX{{/num28}},
    {{#num29}}{{> model100_key }}{{/num29}}{{^num29}}XXX{{/num29}},
    XXX,

    {{#numt0}}{{> model100_key }}{{/numt0}},
    {{#numt1}}{{> model100_key }}{{/numt1}},
    {{#numt2}}{{> model100_key }}{{/numt2}},
    XXX, XXX,
    XXX, XXX, XXX,

    XXX, XXX // palm
  ),

  [SYM] = KEYMAP(
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,

    XXX,
    {{#num00}}LSHIFT({{> model100_key }}){{/num00}},
    {{#num01}}LSHIFT({{> model100_key }}){{/num01}},
    {{#num02}}LSHIFT({{> model100_key }}){{/num02}},
    {{#num03}}LSHIFT({{> model100_key }}){{/num03}},
    {{#num04}}LSHIFT({{> model100_key }}){{/num04}},
    XXX, XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX,

    XXX,
    {{#num10}}LSHIFT({{> model100_key }}){{/num10}},
    {{#num11}}LSHIFT({{> model100_key }}){{/num11}},
    {{#num12}}LSHIFT({{> model100_key }}){{/num12}},
    {{#num13}}LSHIFT({{> model100_key }}){{/num13}},
    {{#num14}}LSHIFT({{> model100_key }}){{/num14}},
    {{#num15}}{{> model100_key }}{{/num15}}{{^num15}}XXX{{/num15}},
    {{#num16}}{{> model100_key }}{{/num16}}{{^num16}}XXX{{/num16}},
    {{#num17}}{{> model100_key }}{{/num17}}{{^num17}}XXX{{/num17}},
    {{#num18}}{{> model100_key }}{{/num18}}{{^num18}}XXX{{/num18}},
    {{#num19}}{{> model100_key }}{{/num19}}{{^num19}}XXX{{/num19}},
    XXX,

    XXX,
    {{#num20}}LSHIFT({{> model100_key }}){{/num20}},
    {{#num21}}LSHIFT({{> model100_key }}){{/num21}},
    {{#num22}}LSHIFT({{> model100_key }}){{/num22}},
    {{#num23}}LSHIFT({{> model100_key }}){{/num23}},
    {{#num24}}LSHIFT({{> model100_key }}){{/num24}},
    XXX, XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX,

    {{#symt0}}LSHIFT({{> model100_key }}){{/symt0}},
    {{#symt1}}LSHIFT({{> model100_key }}){{/symt1}},
    {{#symt2}}LSHIFT({{> model100_key }}){{/symt2}},
    XXX, XXX,
    XXX, XXX, XXX,

    XXX, XXX // palm
  ),

  [GAME] = KEYMAP(
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,

    XXX,
    {{#game00}}{{> model100_key }}{{/game00}},
    {{#game01}}{{> model100_key }}{{/game01}},
    {{#game02}}{{> model100_key }}{{/game02}},
    {{#game03}}{{> model100_key }}{{/game03}},
    {{#game04}}{{> model100_key }}{{/game04}},
    {{#game05}}{{> model100_key }}{{/game05}},
    XXX,
    XXX, XXX, Key_UpArrow, XXX, XXX,
    XXX,

    XXX,
    {{#game10}}{{> model100_key }}{{/game10}},
    {{#game11}}{{> model100_key }}{{/game11}},
    {{#game12}}{{> model100_key }}{{/game12}},
    {{#game13}}{{> model100_key }}{{/game13}},
    {{#game14}}{{> model100_key }}{{/game14}},
    XXX, Key_LeftArrow, Key_DownArrow, Key_RightArrow, XXX,
    XXX,

    XXX,
    {{#game20}}{{> model100_key }}{{/game20}},
    {{#game21}}{{> model100_key }}{{/game21}},
    {{#game22}}{{> model100_key }}{{/game22}},
    {{#game23}}{{> model100_key }}{{/game23}},
    {{#game24}}{{> model100_key }}{{/game24}},
    {{#game25}}{{> model100_key }}{{/game25}},
    XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX,

    {{#gamet0}}{{> model100_key }}{{/gamet0}},
    {{#gamet1}}{{> model100_key }}{{/gamet1}},
    {{#gamet2}}{{> model100_key }}{{/gamet2}},
    M(MACRO_LOCK_GAME),
    XXX,
    XXX, XXX, XXX,

    XXX, XXX // palm
  )
)

KALEIDOSCOPE_INIT_PLUGINS(
  Qukeys,
  OneShot,
  Macros,
  MouseKeys
);

const macro_t *macroAction(uint8_t macroIndex, KeyEvent &event) {
  switch (macroIndex) {
  case MACRO_LOCK_GAME:
    if (keyToggledOn(event.state)) {
      if (Layer.isActive(GAME)) {
        Layer.deactivate(GAME);
      } else {
        Layer.activate(GAME);
      }
    }
    break;
  default:
    break;
  }

  return MACRO_NONE;
}

void setup() {
  Kaleidoscope.setup();
}

void loop() {
  Kaleidoscope.loop();
}
