#include "Kaleidoscope.h"
#include "kaleidoscope/layers.h"
#include "Kaleidoscope-Macros.h"
#include "Kaleidoscope-MouseKeys.h"
#include "Kaleidoscope-OneShot.h"
#include "Kaleidoscope-Qukeys.h"

enum {
  MACRO_LOCK_GAME,
};

enum {
  BASE,
  NAV,
  MOUSE,
  NUM,
  SYM,
  GAME
};

KEYMAPS(
  [BASE] = KEYMAP(
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,

    XXX,
    {{#base00}}{{> kaleidoscope_key }}{{/base00}},
    {{#base01}}{{> kaleidoscope_key }}{{/base01}},
    {{#base02}}{{> kaleidoscope_key }}{{/base02}},
    {{#base03}}{{> kaleidoscope_key }}{{/base03}},
    {{#base04}}{{> kaleidoscope_key }}{{/base04}},
    {{#base05}}{{> kaleidoscope_key }}{{/base05}},
    XXX, XXX,
    {{#base06}}{{> kaleidoscope_key }}{{/base06}},
    {{#base07}}{{> kaleidoscope_key }}{{/base07}},
    {{#base08}}{{> kaleidoscope_key }}{{/base08}},
    {{#base09}}{{> kaleidoscope_key }}{{/base09}},
    XXX,

    XXX,
    {{#base10}}{{> kaleidoscope_key }}{{/base10}},
    {{#base11}}{{> kaleidoscope_key }}{{/base11}},
    {{#base12}}{{> kaleidoscope_key }}{{/base12}},
    {{#base13}}{{> kaleidoscope_key }}{{/base13}},
    {{#base14}}{{> kaleidoscope_key }}{{/base14}},
    {{#base15}}{{> kaleidoscope_key }}{{/base15}},
    {{#base16}}{{> kaleidoscope_key }}{{/base16}},
    {{#base17}}{{> kaleidoscope_key }}{{/base17}},
    {{#base18}}{{> kaleidoscope_key }}{{/base18}},
    {{#base19}}{{> kaleidoscope_key }}{{/base19}},
    XXX,

    XXX,
    {{#base20}}{{> kaleidoscope_key }}{{/base20}},
    {{#base21}}{{> kaleidoscope_key }}{{/base21}},
    {{#base22}}{{> kaleidoscope_key }}{{/base22}},
    {{#base23}}{{> kaleidoscope_key }}{{/base23}},
    {{#base24}}{{> kaleidoscope_key }}{{/base24}},
    XXX, XXX,
    {{#base25}}{{> kaleidoscope_key }}{{/base25}},
    {{#base26}}{{> kaleidoscope_key }}{{/base26}},
    {{#base27}}{{> kaleidoscope_key }}{{/base27}},
    {{#base28}}{{> kaleidoscope_key }}{{/base28}},
    {{#base29}}{{> kaleidoscope_key }}{{/base29}},
    XXX,

    {{#baset0}}{{> kaleidoscope_key }}{{/baset0}},
    {{#baset1}}{{> kaleidoscope_key }}{{/baset1}},
    {{#baset2}}{{> kaleidoscope_key }}{{/baset2}},
    XXX, XXX,
    {{#baset3}}{{> kaleidoscope_key }}{{/baset3}},
    {{#baset4}}{{> kaleidoscope_key }}{{/baset4}},
    {{#baset5}}{{> kaleidoscope_key }}{{/baset5}},

    XXX, XXX // palm
  ),

  [NAV] = KEYMAP(
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,

    XXX,
    {{#nav00}}{{> kaleidoscope_key }}{{/nav00}}{{^nav00}}XXX{{/nav00}},
    {{#nav01}}{{> kaleidoscope_key }}{{/nav01}}{{^nav01}}XXX{{/nav01}},
    {{#nav02}}{{> kaleidoscope_key }}{{/nav02}}{{^nav02}}XXX{{/nav02}},
    {{#nav03}}{{> kaleidoscope_key }}{{/nav03}}{{^nav03}}XXX{{/nav03}},
    {{#nav04}}{{> kaleidoscope_key }}{{/nav04}}{{^nav04}}XXX{{/nav04}},
    XXX, XXX,
    {{#nav05}}{{> kaleidoscope_key }}{{/nav05}}{{^nav05}}XXX{{/nav05}},
    {{#nav06}}{{> kaleidoscope_key }}{{/nav06}}{{^nav06}}XXX{{/nav06}},
    {{#nav07}}{{> kaleidoscope_key }}{{/nav07}}{{^nav07}}XXX{{/nav07}},
    {{#nav08}}{{> kaleidoscope_key }}{{/nav08}}{{^nav08}}XXX{{/nav08}},
    {{#nav09}}{{> kaleidoscope_key }}{{/nav09}}{{^nav09}}XXX{{/nav09}},
    XXX,

    XXX,
    {{#nav10}}{{> kaleidoscope_key }}{{/nav10}}{{^nav10}}XXX{{/nav10}},
    {{#nav11}}{{> kaleidoscope_key }}{{/nav11}}{{^nav11}}XXX{{/nav11}},
    {{#nav12}}{{> kaleidoscope_key }}{{/nav12}}{{^nav12}}XXX{{/nav12}},
    {{#nav13}}{{> kaleidoscope_key }}{{/nav13}}{{^nav13}}XXX{{/nav13}},
    {{#nav14}}{{> kaleidoscope_key }}{{/nav14}}{{^nav14}}XXX{{/nav14}},
    {{#nav15}}{{> kaleidoscope_key }}{{/nav15}}{{^nav15}}XXX{{/nav15}},
    {{#nav16}}{{> kaleidoscope_key }}{{/nav16}}{{^nav16}}XXX{{/nav16}},
    {{#nav17}}{{> kaleidoscope_key }}{{/nav17}}{{^nav17}}XXX{{/nav17}},
    {{#nav18}}{{> kaleidoscope_key }}{{/nav18}}{{^nav18}}XXX{{/nav18}},
    {{#nav19}}{{> kaleidoscope_key }}{{/nav19}}{{^nav19}}XXX{{/nav19}},
    XXX,

    XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX, XXX,
    {{#nav25}}{{> kaleidoscope_key }}{{/nav25}}{{^nav25}}XXX{{/nav25}},
    {{#nav26}}{{> kaleidoscope_key }}{{/nav26}}{{^nav26}}XXX{{/nav26}},
    {{#nav27}}{{> kaleidoscope_key }}{{/nav27}}{{^nav27}}XXX{{/nav27}},
    {{#nav28}}{{> kaleidoscope_key }}{{/nav28}}{{^nav28}}XXX{{/nav28}},
    {{#nav29}}{{> kaleidoscope_key }}{{/nav29}}{{^nav29}}XXX{{/nav29}},
    XXX,

    XXX, XXX, XXX, XXX,
    XXX, XXX, XXX, XXX,

    XXX, XXX // palm
  ),

  [MOUSE] = KEYMAP(
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,

    XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX, XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX,

    XXX,
    XXX, XXX, XXX, XXX, XXX,
    {{#mouse15}}{{> kaleidoscope_key }}{{/mouse15}}{{^mouse15}}XXX{{/mouse15}},
    {{#mouse16}}{{> kaleidoscope_key }}{{/mouse16}}{{^mouse16}}XXX{{/mouse16}},
    {{#mouse17}}{{> kaleidoscope_key }}{{/mouse17}}{{^mouse17}}XXX{{/mouse17}},
    {{#mouse18}}{{> kaleidoscope_key }}{{/mouse18}}{{^mouse18}}XXX{{/mouse18}},
    {{#mouse19}}{{> kaleidoscope_key }}{{/mouse19}}{{^mouse19}}XXX{{/mouse19}},
    XXX,

    XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX, XXX,
    {{#mouse25}}{{> kaleidoscope_key }}{{/mouse25}}{{^mouse25}}XXX{{/mouse25}},
    {{#mouse26}}{{> kaleidoscope_key }}{{/mouse26}}{{^mouse26}}XXX{{/mouse26}},
    {{#mouse27}}{{> kaleidoscope_key }}{{/mouse27}}{{^mouse27}}XXX{{/mouse27}},
    {{#mouse28}}{{> kaleidoscope_key }}{{/mouse28}}{{^mouse28}}XXX{{/mouse28}},
    {{#mouse29}}{{> kaleidoscope_key }}{{/mouse29}}{{^mouse29}}XXX{{/mouse29}},
    XXX,

    {{#mouset0}}{{> kaleidoscope_key }}{{/mouset0}}{{^mouset0}}XXX{{/mouset0}},
    {{#mouset1}}{{> kaleidoscope_key }}{{/mouset1}}{{^mouset1}}XXX{{/mouset1}},
    {{#mouset2}}{{> kaleidoscope_key }}{{/mouset2}}{{^mouset2}}XXX{{/mouset2}},
    XXX, XXX,
    {{#mouset3}}{{> kaleidoscope_key }}{{/mouset3}}{{^mouset3}}XXX{{/mouset3}},
    {{#mouset4}}{{> kaleidoscope_key }}{{/mouset4}}{{^mouset4}}XXX{{/mouset4}},
    {{#mouset5}}{{> kaleidoscope_key }}{{/mouset5}}{{^mouset5}}XXX{{/mouset5}},

    XXX, XXX // palm
  ),

  [NUM] = KEYMAP(
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,

    XXX,
    {{#num00}}{{> kaleidoscope_key }}{{/num00}},
    {{#num01}}{{> kaleidoscope_key }}{{/num01}},
    {{#num02}}{{> kaleidoscope_key }}{{/num02}},
    {{#num03}}{{> kaleidoscope_key }}{{/num03}},
    {{#num04}}{{> kaleidoscope_key }}{{/num04}},
    XXX, XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX,

    XXX,
    {{#num10}}{{> kaleidoscope_key }}{{/num10}},
    {{#num11}}{{> kaleidoscope_key }}{{/num11}},
    {{#num12}}{{> kaleidoscope_key }}{{/num12}},
    {{#num13}}{{> kaleidoscope_key }}{{/num13}},
    {{#num14}}{{> kaleidoscope_key }}{{/num14}},
    {{#num15}}{{> kaleidoscope_key }}{{/num15}}{{^num15}}XXX{{/num15}},
    {{#num16}}{{> kaleidoscope_key }}{{/num16}}{{^num16}}XXX{{/num16}},
    {{#num17}}{{> kaleidoscope_key }}{{/num17}}{{^num17}}XXX{{/num17}},
    {{#num18}}{{> kaleidoscope_key }}{{/num18}}{{^num18}}XXX{{/num18}},
    {{#num19}}{{> kaleidoscope_key }}{{/num19}}{{^num19}}XXX{{/num19}},
    XXX,

    XXX,
    {{#num20}}{{> kaleidoscope_key }}{{/num20}},
    {{#num21}}{{> kaleidoscope_key }}{{/num21}},
    {{#num22}}{{> kaleidoscope_key }}{{/num22}},
    {{#num23}}{{> kaleidoscope_key }}{{/num23}},
    {{#num24}}{{> kaleidoscope_key }}{{/num24}},
    XXX, XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX,

    {{#numt0}}{{> kaleidoscope_key }}{{/numt0}},
    {{#numt1}}{{> kaleidoscope_key }}{{/numt1}},
    {{#numt2}}{{> kaleidoscope_key }}{{/numt2}},
    XXX, XXX,
    XXX, XXX, XXX,

    XXX, XXX // palm
  ),

  [SYM] = KEYMAP(
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,

    XXX,
    {{#num00}}LSHIFT({{> kaleidoscope_key }}){{/num00}},
    {{#num01}}LSHIFT({{> kaleidoscope_key }}){{/num01}},
    {{#num02}}LSHIFT({{> kaleidoscope_key }}){{/num02}},
    {{#num03}}LSHIFT({{> kaleidoscope_key }}){{/num03}},
    {{#num04}}LSHIFT({{> kaleidoscope_key }}){{/num04}},
    XXX, XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX,

    XXX,
    {{#num10}}LSHIFT({{> kaleidoscope_key }}){{/num10}},
    {{#num11}}LSHIFT({{> kaleidoscope_key }}){{/num11}},
    {{#num12}}LSHIFT({{> kaleidoscope_key }}){{/num12}},
    {{#num13}}LSHIFT({{> kaleidoscope_key }}){{/num13}},
    {{#num14}}LSHIFT({{> kaleidoscope_key }}){{/num14}},
    {{#num15}}{{> kaleidoscope_key }}{{/num15}}{{^num15}}XXX{{/num15}},
    {{#num16}}{{> kaleidoscope_key }}{{/num16}}{{^num16}}XXX{{/num16}},
    {{#num17}}{{> kaleidoscope_key }}{{/num17}}{{^num17}}XXX{{/num17}},
    {{#num18}}{{> kaleidoscope_key }}{{/num18}}{{^num18}}XXX{{/num18}},
    {{#num19}}{{> kaleidoscope_key }}{{/num19}}{{^num19}}XXX{{/num19}},
    XXX,

    XXX,
    {{#num20}}LSHIFT({{> kaleidoscope_key }}){{/num20}},
    {{#num21}}LSHIFT({{> kaleidoscope_key }}){{/num21}},
    {{#num22}}LSHIFT({{> kaleidoscope_key }}){{/num22}},
    {{#num23}}LSHIFT({{> kaleidoscope_key }}){{/num23}},
    {{#num24}}LSHIFT({{> kaleidoscope_key }}){{/num24}},
    XXX, XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX,

    {{#symt0}}LSHIFT({{> kaleidoscope_key }}){{/symt0}},
    {{#symt1}}LSHIFT({{> kaleidoscope_key }}){{/symt1}},
    {{#symt2}}LSHIFT({{> kaleidoscope_key }}){{/symt2}},
    XXX, XXX,
    XXX, XXX, XXX,

    XXX, XXX // palm
  ),

  [GAME] = KEYMAP(
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,
    XXX, XXX, XXX, XXX, XXX, XXX, XXX,

    XXX,
    {{#game00}}{{> kaleidoscope_key }}{{/game00}},
    {{#game01}}{{> kaleidoscope_key }}{{/game01}},
    {{#game02}}{{> kaleidoscope_key }}{{/game02}},
    {{#game03}}{{> kaleidoscope_key }}{{/game03}},
    {{#game04}}{{> kaleidoscope_key }}{{/game04}},
    XXX, XXX,
    XXX, XXX, Key_UpArrow, XXX, XXX,
    XXX,

    XXX,
    {{#game10}}{{> kaleidoscope_key }}{{/game10}},
    {{#game11}}{{> kaleidoscope_key }}{{/game11}},
    {{#game12}}{{> kaleidoscope_key }}{{/game12}},
    {{#game13}}{{> kaleidoscope_key }}{{/game13}},
    {{#game14}}{{> kaleidoscope_key }}{{/game14}},
    XXX, Key_LeftArrow, Key_DownArrow, Key_RightArrow, XXX,
    XXX,

    XXX,
    {{#game20}}{{> kaleidoscope_key }}{{/game20}},
    {{#game21}}{{> kaleidoscope_key }}{{/game21}},
    {{#game22}}{{> kaleidoscope_key }}{{/game22}},
    {{#game23}}{{> kaleidoscope_key }}{{/game23}},
    {{#game24}}{{> kaleidoscope_key }}{{/game24}},
    {{#game25}}{{> kaleidoscope_key }}{{/game25}},
    XXX,
    XXX, XXX, XXX, XXX, XXX,
    XXX,

    {{#gamet0}}{{> kaleidoscope_key }}{{/gamet0}},
    {{#gamet1}}{{> kaleidoscope_key }}{{/gamet1}},
    {{#gamet2}}{{> kaleidoscope_key }}{{/gamet2}},
    XXX, XXX,
    XXX, XXX, XXX,

    XXX, XXX // palm
  )
)

KALEIDOSCOPE_INIT_PLUGINS(
  Qukeys,
  OneShot,
  Macros,
  MouseKeys
);

const macro_t *macroAction(uint8_t macroIndex, KeyEvent &event) {
  switch (macroIndex) {
  case MACRO_LOCK_GAME:
    if (keyToggledOn(event.state)) {
      if (Layer.isActive(GAME)) {
        Layer.deactivate(GAME);
      } else {
        Layer.activate(GAME);
      }
    }
    break;
  default:
    break;
  }

  return MACRO_NONE;
}

void setup() {
  Kaleidoscope.setup();
}

void loop() {
  Kaleidoscope.loop();
}
